@font-face {
    font-family: 'SejonghospitalBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
/* background: #f5f5f5; */
/* color: #c7c7c7; */



button{
    background: #ffd013;
    color: #111;
    border: 0;
    display: block;
    border-radius: 7px;
    font-size: 14px;
    width: 90px;
    line-height: 38px;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: white;
    text-align: center;
    cursor: pointer;
}

/* 사이드바 */
.sideToggle{
    width : 200px;
    top : 120px;
    left: 0;
    height: 100%;
    position: fixed;
    border-right: 1px solid #f1f1f1;
    background-color: #fff;
    overflow-y: scroll;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}
.sideToggle ul{
    padding: 10px;
}
.sideToggle li{
    padding: 6px;
    padding-bottom: 12px;
    font-size: 12px;
}
/* 카테고리 상세 */
.sideToggle ul ul{
    margin: 15px 0 12px;
    background: #f8f8f8;
    padding: 16px 20px 24px;
    display: none;
}
.sideToggle ul li:hover > ul {
    /* transition: 3s; */
    display: block;
}




/* 내용-제목 */
.content-inner .content-title{
    font-weight: 800;
    font-size: 14px;
}
/* 작성자, 작성일 */
.content-inner  .content-author span{
    margin: 7px;
    margin-bottom: 15px;
}

/* 내용 */
.guideContent{  
    width: 75%;
    padding: 20px;
}

/* GuideContentList -내용outer */
.content-outer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
    cursor: pointer;
}
/* 내용inner */
.content-inner{
    margin: 30px;
    width: 330px;
    height: 320px;
}
.content-img{
    height: 220px;
}
.content-inner img{
    width: 100%;
    height: 100%;
}
#cTitle{
    justify-content: left;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    margin-left: 150px;
}
#insert-button{
    float: right;
    position: relative;
    top: -50px;

}



/* list.js의 content */
.contentList{
    margin-left: 280px;
}

