/* 최상단-누구나 디자이너가 된다 */
#kv{
    box-sizing: border-box;
    display: flex;
    margin: 0;
    padding: 30px;
    width: 100%;
    position: relative;
    height: 600px;
    background: #fede29;
    justify-content: space-evenly;
}
#kv .text{
    margin-top: 100px;
    margin-left: 20px;
    min-width: 550px;
    text-align: left;
}
.main{
    min-width: 1160px;
    width: 100%;
    height: 100%;
}
.main #kv .text span {
    display: block;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.025em;
    color: #000;
    
}
.main .kv .text strong {
    display: block;
    margin-top: 21px;
    font-size: 80px;
    font-weight: 800;
    line-height: 105px;
    letter-spacing: -0.025em;
    color: #000;
    text-align: left;
}
.main .kv .text a {
    display: inline-block;
    margin-top: 34px;
    width: 240px;
    border-radius: 40px;
    background: #222;
    font-size: 21px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: -0.025em;
    color: #fff;
    text-align: center;
}

/* 이미지 */
.characterImg{
    width: 692px;
    height: 527px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
}
/* ---------- 캐릭터들 ---------- */
#kv #mesCha {
    width: 206px;
    left: 298px;
    top: -56px;
    animation: shake2 3.4s ease-in-out infinite; 
}
#kv #robotCha{
    width: 164px;
    transform: rotate(18deg);
    left: 138px;
    top: 26px;
    animation: shake2 3.2s ease-in-out infinite; 
}
#mangoCha {
    margin-top: 45px;
    height: 82%;
    width: auto;
    left: 283px;
    top: 70px;
    animation: shake 3.7s ease-in-out infinite; 
}
#thumbCha{
    width: 182px;
    left: 557px;
    top: 363px;
    animation: shake 3s ease-in-out infinite; 
}
#heartCha{
    width: 202px;
    left: 626px;
    top: 278px;
    animation: shake 3.3s ease-in-out infinite; 
}

/* 캐릭터 위아래 이동 애니메이션 */
@keyframes shake {
    0%, 100% {
        transform: translateY(0); /* 초기 위치 */
    }
    25%, 75% {
        transform: translateY(-6px);
    }
    50% {
        transform: translateY(5px); 
    }
}
@keyframes shake2 {
    0%, 100% {
        transform: translateY(0); /* 초기 위치 */
    }
    25%, 75% {
        transform: translateY(6px);
    }
    50% {
        transform: translateY(-5px); 
    }
}


/* 문구부분- 막막한 디자인 */
#cont-template {
    padding: 100px 0 100px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main .cont-tit {
    font-size: 58px;
    line-height: 78px;
    letter-spacing: -0.025em;
    color: #111;
    text-align: center;
}
.main .desc{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.025em;
    color: #222;
    text-align: center;
}

/* 비디오 부분 */
#cont-video{
    padding: 96px 0 90px;
    background: #000;
}
#cont-video .cont-tit{
    width: 500px;
    margin: 0 auto;
    word-break: keep-all;
    color: #fff;
    font-size: 55px;
    font-weight: 400;
    line-height: 78px;
    letter-spacing: -0.025em;
    text-align: center;
}
#cont-video .cont-tit strong{
    font-weight: 700;
    display: inline;
}
#cont-video .desc {
    line-height: 35px;
    color: #fff;
    font-size: 0;
}
#cont-video .desc span {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px;
    font-size: 19px;
    line-height: 35px;
}
/* 비디오 설정 */
#cont-video video {
    overflow: hidden;
    border-radius: 18px;
    max-width: 800px;
    width: 100%;
    margin-top: 15px;
}
#cont-video .video-button-area{
    display: flex;
    /* text-align: center; */
    /* vertical-align: middle; */
    justify-content: center;
    align-items: center;
}
#cont-video button{
    width: 45px;
    height: 45px;
    position: relative;
    /* background: url(https://www.mangoboard.net/images/btn_main-arrow.png) no-repeat; */
    padding: 0;
    font-size: 20px;
    opacity: .8;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); 
    cursor: pointer;
    background: transparent;
    margin: 50px;
}


/* 슬라이드 이미지 */
#slide-img{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-image: url('https://www.mangoboard.net/images/img_main-character02.jpg'); */
}
#slide-img::before {
    display: block;
    padding-top: 56.25%;
}
#slide-img h2{
    z-index: 1;
    position: relative;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}
#slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}